@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

@foreach (var item in Model.Products)
{
    <p>
        <img src="~/uploads/products/@item.PictureUri" width="100"/> 
        @item.Name 
        $@item.Price
    </p>
}